body {
background-color: #000;
}
canvas {
  position: fixed;
	opacity: 20%;
  top: 0;
  left: 0;
	display: none;
}
#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	display:block;
  color: #fff;
}

button {
		z-index: 10000;
    width: 25px;
    position: absolute;
    left: -35%;
    bottom: -22%;
		height: 34px;
		cursor: pointer;
		width: 34px;
		padding: 5px 5px;
    background-color: transparent;
    
    border: 0px!important;
    margin-left: 10px;
}
#playPause {
  left: -80px;
}
#resume {
  margin-left:20px;
  animation: 0.5s linear 0s infinite normal none running pulse;
}
#portfolio {
  margin-left: 20px;
  animation: 0.5s linear 0s infinite normal none running pulse;
}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}

.words {
 /* Adjust as needed */
  position: absolute;
  top: 20%;
  left: 15%;
  padding-right:10%;
  
  /* animation: 
    typing 5s steps(30, end),
    blink-caret .5s step-end infinite;
  animation-delay: 5s;  */
  }
  p {
    padding: 5px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: -2px 5px;
  }

#typing, #typing2, #typing3 {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
   /* The typwriter cursor */
  white-space: break-spaces; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
}
#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  z-index: 1000;
  position: absolute;
  right: 5%;
  bottom: 12%;
  opacity:0.5;
  display: none;
}
#song-title {
font-size: 6px;
color: #fff;
position: absolute;
bottom: -30px;
opacity: 0.2;
}

 @keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(270deg);
	}
   100% {
     	transform: rotate(1deg);
   }
}
span {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		z-index: -1;
		background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
		filter: blur(30px);
		animation: animate 5s linear infinite;
	}
#loading {
	position: absolute;
	width: 200px;
	height: 200px;
  left: 45%;
  top: 30%;
	border-radius: 50%;
	border: 5px solid #000000;
	overflow: hidden;
	box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
		10px 10px 10px rgba(0, 0, 0, 0.4),
		inset -5px -5px 5px rgba(255, 255, 255, 0.2),
		inset 10px 10px 10px rgba(0, 0, 0, 0.4);
  }
#loading::before {
		content: "";
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		z-index: 10;
		background: #000000;
		border-radius: 50%;
		border: 3px solid #000000;
		box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
			inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}
 

@keyframes ldio-229d50w7w7o-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-229d50w7w7o-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-229d50w7w7o > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-229d50w7w7o > div:nth-child(2) div {
  position: absolute;
  top: 42.199999999999996px;
  left: 42.199999999999996px;
  width: 126.6px;
  height: 63.3px;
  border-radius: 126.6px 126.6px 0 0;
  background: #93dbe9;
  animation: ldio-229d50w7w7o-1 0.4081632653061225s linear infinite;
  transform-origin: 63.3px 63.3px
}
.ldio-229d50w7w7o > div:nth-child(2) div:nth-child(2) {
  animation: ldio-229d50w7w7o-2 0.4081632653061225s linear infinite
}
.ldio-229d50w7w7o > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-229d50w7w7o-3 {
    0% { transform: translate(200.45px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(73.85px,0); opacity: 1 }
}
.ldio-229d50w7w7o > div:nth-child(1) {
  display: block;
}
.ldio-229d50w7w7o > div:nth-child(1) div {
  position: absolute;
  top: 97.05999999999999px;
  left: -8.44px;
  width: 16.88px;
  height: 16.88px;
  border-radius: 50%;
  background: #ff1500;
  animation: ldio-229d50w7w7o-3 0.4081632653061225s linear infinite
}
.ldio-229d50w7w7o > div:nth-child(1) div:nth-child(1) { animation-delay: -1.6415s }
.ldio-229d50w7w7o > div:nth-child(1) div:nth-child(2) { animation-delay: -0.8085s }
.ldio-229d50w7w7o > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-uoj0usmxt1k {
  width: 211px;
  height: 211px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-229d50w7w7o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-229d50w7w7o div { box-sizing: content-box; }
/* generated by https://loading.io/ */

#load {
    position: absolute;
    top: 50%;
    /* margin-left: auto; */
    animation: 4s linear 2s infinite normal none running pulse;
    /* margin-right: auto; */
    left: 30%;
}
@media screen and  (max-width: 390px){
#load {
    position: absolute;
    top: 50%;
    /* margin-left: auto; */
    animation: 4s linear 2s infinite normal none running pulse;
    /* margin-right: auto; */
    left: 30%;
  }
}

.sun-loader {
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
}

#sun-image {
  width: 100%;
  height: auto;
  animation: rotateSun 5s linear infinite;
}

@keyframes rotateSun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#play-button, #playPause {
  display: none;
}