body {
background-color: #000;
}
canvas {
  position: fixed;
	opacity: 20%;
  top: 0;
  left: 0;
	display: none;
}
#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	display:block;
  color: #fff;
}
#loading {
position: absolute;
top: 50vh;
left: 50vw;
animation: 0.5s linear 0s 50 normal none running pulse;
}

button {
		z-index: 10000;
    width: 25px;
    position: absolute;
    bottom: 5%;
    right: 5%;
		height: 34px;
		cursor: pointer;
		width: 34px;
		padding: 5px;
    animation: 0.5s linear 0s 50 normal none running pulse;
}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}